<div class="position-absolute width-full color-bg-default" style="bottom: -4rem;">

  <div class="container-xl p-responsive">

    <div class="d-flex flex-justify-center flex-lg-justify-end color-bg-default">

      <div class="col-8 col-sm-7 col-md-6 col-lg-5 position-relative z-2 right-lg-n12 events-none">

        <picture>

          <source srcset="astro-mona.webp" type="image/webp">

          <img src="astro-mona.svg" width="960" height="967" class="home-astro-mona width-full position-absolute bottom-0 height-auto" alt="Mona looking at GitHub activity across the globe">

        </picture>

      </div>

    </div>

  </div>

</div>


